body {
    margin: 0;
    padding: 0;
}

#footer-container {
    display: flex;
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 5%;
    background-color: #333;
    align-items: center;

    /* border: green;
    border-style: solid;
    border-width: 2px; */
}

.footer-content {
    color: white;
    font-size: 18px;
    height: fit-content;
    width: fit-content;
    padding: 0px 10px;
    position: absolute;
    /* opacity: 75%; */


    /* background-color: red; */
}

#footer-names {
    left: 0;
    margin: auto;
}

#footer-version {
    text-decoration: none;

    right: 0;
    margin: auto;
}