.canvas-container {
    padding: 60px;
}

.ui-container {
    padding: 20px;
}

.ui {
    text-align: center;
}

.button-container {
    margin-top: 10px;
}

.scramble-grid {

    display: flex;

    justify-content: center;
    align-content: center;

    height: 60vh;
    width: 100%;
}

.grid {

    text-align: center;
    align-items: center;

    display: flex;
    height: 100%;
    max-width: 100vw;
	aspect-ratio: 1 / 1;
}

.table-row {
	width: 100%;
	height: 33%:
}

.cell {
    justify-content: center;

    /* margin: 1.4%; */

    display: inline-flex;
    width: 32%;
    aspect-ratio: 1 / 1;
	@media only screen and (hover: none) and (pointer: coarse) {
		height: 20vh;
	}

}

.scramble-cell-text {

    position: absolute;
    font-size: 40px;
    justify-self: center;
    align-self: center;
}

.scramble-cell-button {
    background: transparent;
    border: none !important;

    position: absolute;
    justify-self: center;
    align-self: center;

    width: 15vh;
    height: 15vh;

}

.egg-image {
	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
     	object-fit: contain;
}

.select {
    color: red;
}
