.canvas-container {
    padding: 60px;
}

.ui-container {
    padding: 20px;
}

.ui {
    text-align: center;
}

.button-container {
    margin-top: 10px;
}

.scramble-grid {

    display: flex;

    justify-content: center;
    align-content: center;

    height: 60%;
    width: 100%;
}

.grid {

    text-align: center;
    align-items: center;

    display: flex;
    max-width: 100%;
    height: 100%;
    width: 60%;
}

.cell {
    justify-content: center;

    /* margin: 1.4%; */

    display: inline-flex;
    aspect-ratio: 1 / 1;
    width: 32%;
}

.scramble-cell-text {

    position: absolute;
    font-size: 40px;
    justify-self: center;
    align-self: center;
}

.scramble-cell-button {
    background: transparent;
    border: none !important;

    position: absolute;
    justify-self: center;
    align-self: center;

    width: 15vh;
    height: 15vh;

}

.egg-image {
    object-fit: contain;
}

#cell-1 p {}

#cell-2 p {}

#cell-3 p {}

#cell-4 p {}

#cell-5 p {}

#cell-6 p {}

#cell-7 p {}

#cell-8 p {}

#cell-9 p {}

.select {
    color: red;
}